/* TRANSITIONS ----------------------------------- */

.ex-1-square:hover {
    transition: background-color 2s ease-in-out;
    background-color: red;
}

.ex-2-square:active{
    transition: width 2s;
    width: 100%;
}

.ex-3-square:hover {
    transition: border-radius 0.5s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: opacity 1.5s;
    opacity: 0;
}

.ex-5-square:hover{
    transition: transform 1s;
    transform: scale(2);
} 



