/* TRANSITIONS ----------------------------------- */

.ex-1-square:hover {
    transition: background-color 2s ease-in-out;
    background-color: red;
}

.ex-2-square:active{
    transition: width 2s;
    width: 100%;
}

.ex-3-square:hover {
    transition: border-radius 0.5s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: opacity 1.5s;
    opacity: 0;
}

.ex-5-square:hover{
    transition: transform 1s;
    transform: scale(2);
} 


/* FILTER ----------------------------------- */

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    transition: filter 3s;
    filter: sepia(60%);
}

.ex-8-img:hover{
    transition: filter 2s, border-radius 2s;
    filter: sepia(80%);
    border-radius: 20px;
}

.ex-9-img:hover{
    transition: transform 2s, border-radius 2s, filter 2s;
    transform: scale(1.5);
    border-radius: 20px;
    filter: sepia(60%) grayscale(40%);
}